.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: 2rem;
  width: 2rem;
  height: 2rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 35px;
  padding-left: 34px;
  margin-left: 34px;
  padding-right: 20px;
}

.form-style {
  margin: 20px;
}

h3 {
  margin: 20px;
  padding-top: 20px;
}

.serch-litter,
.litter-parents {
  margin: 20px;
  padding: 30px;
  border-left: 3px solid #a3a3a3f3;
  background: #f3f3f3f3;
}

#createLitterBtn {
  margin: 15px;
}

#submitDogBtn {
  margin: 50px;
  margin-top: 70px;
  font-size: 30px;
  width: 250px;
  height: 250px;
}
